<form [formGroup]="form" (ngSubmit)="register()">
  <h2>Register</h2>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-icon
        matSuffix
        matTooltip="Username starts with a letter. Contains characters a-z, 0-9, dash, underscor, period. Length 5-32."
      >
        help_outline
      </mat-icon>
      <mat-error>
        {{ getUsernameError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error>
        {{ getEmailError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Invite Code</mat-label>
      <input matInput formControlName="inviteCode" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error>Password is required.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      <mat-error>Confirming Password is required.</mat-error>
      @if (form.errors && confirmPassword.touched && password.touched) {
        <mat-hint>Passwords do not match.</mat-hint>
      }
    </mat-form-field>
  </div>
  <div></div>
  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
      Register
    </button>
    <button type="button" mat-raised-button color="accent" (click)="form.reset()">Reset</button>
  </div>
</form>
