<div class="shared-fso" (click)="onClick()" [title]="fso.name">
    <div id="fso-name-icon">
        <span [ngStyle]="{'margin-right': fso.isFolder ? '4px' : '8px', 'color': fso.isFolder ? '#ffd242' : '#7291ff'}">
            <mat-icon fontIcon="home"></mat-icon>
        </span>
        <span>
            {{ fso.name }}
        </span>
    </div>
    <div id="fso-size">
        <strong>{{ fso.fileSize | readableBytes: 2 }}</strong>
    </div>
</div>
<div *ngIf="fso.children.length > 0 && isOpen" class="shared-fso-content" [title]="fso.name">
    <shared-fso *ngFor="let fso of fso.children" [fso]="fso"></shared-fso>
</div>