# Build output
/bin/
/obj/
/[Ll]og/
/[Ll]ogs/
/TestResults/

# Rider / ReSharper
.idea/
*.DotSettings.user
_ReSharper.Caches/
_ReSharper*/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# VS Code
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Publish / temporary files
*.publish.xml
.publish/

publish.env