<div class="admin__invite-form">
  <h3>Send invite codes</h3>
  <div>
    <mat-form-field appearance="outline" class="admin__invite-form-input">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="inviteControl" />
      <mat-error>{{ getInviteControlError() }}</mat-error>
    </mat-form-field>
    <button
      matButton="filled"
      color="primary"
      [disabled]="inviteControl.invalid"
      (click)="sendInviteCode()"
      type="button"
    >
      Send invite
    </button>
  </div>
</div>
<h3>Users</h3>
@if (usersReady()) {
  @for (user of users; track user.id) {
    <div
      class="admin__user-item"
      [ngClass]="user.disabled ? 'admin__user-item--disabled' : 'admin__user-item--enabled'"
    >
      <div>
        <div><strong>Name: </strong>{{ user.name }}</div>
        <div><strong>Email: </strong>{{ user.email }}</div>
        <div><strong>Last active: </strong>{{ user.lastActive | date: 'short' }}</div>
      </div>
      <div>
        <button matIconButton (click)="getStorageInfo(user)" matTooltip="Storage Info">
          <span class="material-symbols-outlined">hard_drive</span>
        </button>
        <button
          matIconButton
          (click)="toggleAccount(user)"
          [matTooltip]="user.disabled ? 'Enable Account' : 'Disable Account'"
        >
          <span class="material-symbols-outlined">
            {{ user.disabled ? 'account_circle' : 'account_circle_off' }}
          </span>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  }
} @else {
  <div>Loading data...</div>
}
