<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Disk Info</div>
<div mat-dialog-content class="disk-info-container">
  <div class="used-bytes">{{ diskInfo.used | readableBytes: 2 }}</div>
  <div class="total-bytes">{{ diskInfo.total | readableBytes: 0 }}</div>
  <mat-progress-bar
    class="disk-usage-progress-bar"
    mode="determinate"
    [value]="(diskInfo.used * 100) / diskInfo.total"
  ></mat-progress-bar>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
