@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
  --snapshot-normal-sm: 80px;
  --snapshot-normal-md: 140px;
  --snapshot-normal-lg: 180px;
  --snapshot-normal-xl: 218px;
  --snapshot-normal-xxl: 255px;

  --snapshot-large-sm: 110px;
  --snapshot-large-md: 178px;
  --snapshot-large-lg: 228px;
  --snapshot-large-xl: 275px;
  --snapshot-large-xxl: 320px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 96vw;
    padding: 0 8px;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.media .cdk-overlay-dark-backdrop {
  background: rgb(0 0 0);
}

.app-snack-bar {
  margin-bottom: 4.5rem !important;
}
