@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  @include mat.dialog-overrides(
    (
      container-elevation-shadow: var(--mat-sys-level3),
      container-color: var(--mat-sys-surface-container-high),
      container-shape: var(--mat-sys-corner-small),
    )
  );

  $button-shape: var(--mat-sys-corner-small);
  @include mat.button-overrides(
    (
      text-container-shape: $button-shape,
      outlined-container-shape: $button-shape,
      filled-container-shape: $button-shape,
      tonal-container-shape: $button-shape,
      protected-container-shape: $button-shape,
    )
  );
}

body.dark-mode {
  color-scheme: dark;
}

body.green-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$green-palette,
      ),
    )
  );
}

body.violet-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
      ),
    )
  );
}
body.orange-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
      ),
    )
  );
}
body.blue-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
      ),
    )
  );
}
body.yellow-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$yellow-palette,
      ),
    )
  );
}
body.cyan-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
      ),
    )
  );
}
body.magenta-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
      ),
    )
  );
}
body.rose-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
      ),
    )
  );
}
