@if (resetToken && resetTokenId) {
  <div class="reset-form" [formGroup]="passwordForm">
    <h2>Reset password</h2>
    <div>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input matInput formControlName="newPassword" type="password" />
        <mat-error>New password is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Confirm new password</mat-label>
        <input matInput formControlName="confirmNewPassword" type="password" />
        <mat-error>Confirm new password is required.</mat-error>
        @if (passwordForm.errors && newPassword.touched && confirmNewPassword.touched) {
          <mat-hint>Passwords do not match</mat-hint>
        }
      </mat-form-field>
    </div>
    <div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="passwordForm.invalid"
        (click)="resetPassword()"
      >
        Reset password
      </button>
      <button type="button" mat-raised-button color="accent" (click)="passwordForm.reset()">
        Clear
      </button>
    </div>
  </div>
} @else {
  <div class="reset-form">
    <h2>Reset password</h2>
    <div [formGroup]="userIdentifierForm">
      <mat-form-field>
        <mat-label>Username or Email</mat-label>
        <input matInput formControlName="userIdentifier" type="text" />
        <mat-error>Username or Email is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="userIdentifierForm.invalid"
        (click)="getResetToken()"
      >
        Submit
      </button>
    </div>
  </div>
}
