<form *ngIf="!resetToken || !resetTokenId" [formGroup]="userIdentifierForm" (ngSubmit)="getResetToken()">
    <h2>Reset password</h2>
    <div>
        <mat-form-field>
            <mat-label>Username or Email</mat-label>
            <input matInput formControlName="userIdentifier" type="text">
            <mat-error>Username or Email is required.</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="userIdentifierForm.invalid">Submit</button>
    </div>
</form>

<form *ngIf="resetToken && resetTokenId" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
    <h2>Reset password</h2>
    <div>
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput formControlName="newPassword" type="password">
            <mat-error>New password is required.</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <input matInput formControlName="confirmNewPassword" type="password">
            <mat-error>Confirm new password is required.</mat-error>
            <mat-hint *ngIf="passwordForm.errors && newPassword.touched && confirmNewPassword.touched">Passwords do not
                match</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Reset
            password</button>
        <button type="button" mat-raised-button color="accent" (click)="passwordForm.reset()">Clear</button>
    </div>
</form>