form button {
    margin-right: .5rem;
    margin-top: .5rem;
}

form {
    >div {
        margin-bottom: 1rem;
        display: flex;

        mat-form-field {
            flex: 1;
        }
    }
}