<div class="fso" [ngClass]="{ 'fso-selected': fso?.isSelected(), 'fso-cut': fso?.isCut() }">
  <div class="fso-icon">
    @if ((fso && fso.isFolder) || this.text) {
      <div class="folder-icon-box">
        <span class="material-icons"> folder </span>
      </div>
    } @else if (fso && !fso.isFolder) {
      <div class="file-icon-box">
        <span class="material-icons"> description </span>
      </div>
      <div class="file-ext-box" [ngStyle]="{ 'font-size': fso.ext.length < 4 ? '.8rem' : '.6rem' }">
        {{ fso.ext }}
      </div>
    }
  </div>
  @if (this.text) {
    <div class="single-text">
      {{ this.text }}
    </div>
  } @else if (fso) {
    <div class="fso-text">
      <div class="fso-info-1">
        @if (fso.isFolder) {
          <span class="folder-name" [title]="fso.fullName">{{ fso.fullName }}</span>
        } @else {
          <span class="file-name" [title]="fso.fullName">{{ fso.fullName }}</span>
          <span class="file-size"
            ><strong>{{ fso.fileSize ?? 0 | readableBytes: 0 }}</strong></span
          >
        }
      </div>
      <div class="fso-info-2">
        <span>{{ fso.date | date: 'medium' }}</span>
      </div>
    </div>
  }
</div>
