@if (notesLoaded()) {
  <ng-container>
    <div class="notes__controls">
      <button matButton="text" #createBtnText (click)="createNote(createBtnText, 'text')">
        <mat-icon>subject</mat-icon>New Text
      </button>
      <button matButton="text" #createBtnList (click)="createNote(createBtnList, 'list')">
        <mat-icon>checklist</mat-icon>New List
      </button>
    </div>
    <div class="notes__container">
      @if (notes.length === 0) {
        <h3>No notes</h3>
      }
      @for (note of notes; track note.id) {
        <mat-card appearance="raised" class="note__card">
          <mat-card-header>
            <mat-card-title>{{ note.title }}</mat-card-title>
            <mat-card-subtitle>{{ note.creationDate | date: 'medium' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="note__card-body">
            @if (note.type === 'text') {
              <p>{{ note.body }}</p>
            } @else if (note.type === 'list') {
              <div class="note__card-body-list">
                @let items = note.getListItems() ?? [];
                @for (item of items; track $index) {
                  <div>
                    <span class="material-icons-outlined">{{
                      item.checked ? 'check_box' : 'check_box_outline_blank'
                    }}</span>
                    <span>{{ item.label }}</span>
                  </div>
                }
              </div>
            }
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions class="notes__actions">
            <button matIconButton (click)="editNote(note)">
              <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton (click)="deleteNote(note)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card-actions>
          <mat-card-footer>
            @if (note.updating) {
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
          </mat-card-footer>
        </mat-card>
      }
    </div>
  </ng-container>
} @else {
  <p>Loading...</p>
  <mat-spinner></mat-spinner>
}

<ng-template let-data #noteDialog>
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    {{ data | titlecase }} Note
  </h1>
  @if (noteForm) {
    <div mat-dialog-content [formGroup]="noteForm" class="note-dialog__content">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" />
        <mat-error>Title is Required.</mat-error>
      </mat-form-field>
      @if (data === 'text') {
        <ng-container>
          <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea
              matInput
              type="text"
              formControlName="text"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="15"
            ></textarea>
          </mat-form-field>
        </ng-container>
      } @else if (data === 'list') {
        <ng-container formArrayName="list">
          @let controls = noteList?.controls;
          @for (listItem of controls ?? []; let i = $index; track $index) {
            <ng-container [formGroup]="listItem">
              <div class="list-item">
                <mat-checkbox formControlName="checked"></mat-checkbox>
                <input
                  matInput
                  type="text"
                  formControlName="label"
                  class="list-item-input"
                  [id]="'list-item-' + i"
                  (keyup.enter)="addListItem(i + 1)"
                />
                <button mat-icon-button (click)="deleteListItem(i)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </ng-container>
          }
          <button matButton="text" (click)="addListItem()">
            <mat-icon>add</mat-icon>
            Add item
          </button>
        </ng-container>
      }
    </div>
    <div mat-dialog-actions>
      <button
        type="button"
        matButton="filled"
        [mat-dialog-close]="true"
        [disabled]="noteForm.invalid"
      >
        Save
      </button>
      <button type="button" matButton="outlined" [mat-dialog-close]="false">Cancel</button>
    </div>
  }
</ng-template>

<ng-template #deleteConfirmDialog let-data>
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    Delete Confirmation
  </h1>
  <div mat-dialog-content>
    Are you sure want to delete <strong>{{ data }}</strong> ?
  </div>
  <div mat-dialog-actions>
    <button type="button" matButton="filled" [mat-dialog-close]="true">Delete</button>
    <button type="button" matButton="outlined" [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>
