.notes__controls {
  padding: 10px;
  display: flex;
}

.notes__container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.note__card {
  max-width: 350px;
  max-height: 500px;
  margin: 10px;
  &-body {
    overflow-y: auto;
    > p {
      word-break: break-word;
      white-space: pre-line;
    }
    &-list {
      > div {
        display: flex;
        align-items: flex-start;
        margin: 6px 0;
        > span:first-of-type {
          margin-right: 5px;
        }
      }
    }
  }
}
.notes__actions {
  justify-content: flex-end;
  button {
    margin-right: 5px;
  }
}
mat-spinner {
  margin: 1rem auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #828282;
}

.note-dialog__content {
  > mat-form-field {
    display: block;
    margin: 8px 0;
  }
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.list-item-input {
  outline: none;
  background: transparent;
  border: none;
  color: inherit;
  width: 100%;
  font-weight: 600;
  font-size: inherit;
}
