<div [formGroup]="registerForm" class="elevated-form register-form">
  <h3>Register</h3>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [formControl]="usernameControl" type="text" />
      <mat-icon matSuffix [matTooltip]="usernameTooltip" matTooltipClass="multiline-tooltip">
        help_outline
      </mat-icon>
      <mat-error>
        {{ usernameError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailControl" type="email" />
      <mat-error>
        {{ emailError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Invite Code</mat-label>
      <input
        matInput
        [formControl]="inviteCodeControl"
        type="text"
        mask="SSS SSS"
        [patterns]="inviteCodePatterns"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordControl" type="password" />
      <mat-icon matSuffix [matTooltip]="strongPasswordTooltip" matTooltipClass="multiline-tooltip">
        help_outline
      </mat-icon>
      <mat-error>{{
        passwordControl.errors?.['required']
          ? 'This field is required.'
          : 'Password does not meet complexity requirements.'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [formControl]="confirmPasswordControl"
        type="password"
        [errorStateMatcher]="passwordMismatchErrorStateMatcher"
      />
      <mat-error>{{
        confirmPasswordControl.errors?.['required']
          ? 'This field is required.'
          : 'Passwords do not match.'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="button" matButton="filled" (click)="register()">Register</button>
    <button type="button" matButton="text" (click)="registerForm.reset()">Reset</button>
  </div>
</div>
