<form [formGroup]="registerForm" class="elevated-form register-form" (ngSubmit)="register()">
  <h3>Register</h3>
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl" type="text" autocomplete="off" />
      <mat-icon matSuffix [matTooltip]="usernameTooltip" matTooltipClass="multiline-tooltip">
        help_outline
      </mat-icon>
      <mat-error>
        {{ usernameError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailControl" type="email" autocomplete="off" />
      <mat-error>
        {{ emailError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Invite Code</mat-label>
      <input
        matInput
        [formControl]="inviteCodeControl"
        type="text"
        mask="SSS SSS"
        [patterns]="inviteCodePatterns"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordControl" type="password" autocomplete="new-password" />
      <mat-icon matSuffix [matTooltip]="strongPasswordTooltip" matTooltipClass="multiline-tooltip">
        help_outline
      </mat-icon>
      <mat-error>{{
        passwordControl.errors?.['required']
          ? 'This field is required.'
          : 'Password does not meet complexity requirements.'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [formControl]="confirmPasswordControl"
        type="password"
        [errorStateMatcher]="passwordMismatchErrorStateMatcher"
        autocomplete="new-password"
      />
      <mat-error>{{
        confirmPasswordControl.errors?.['required']
          ? 'This field is required.'
          : 'Passwords do not match.'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" matButton="filled">Register</button>
    <button type="button" matButton="text" (click)="resetForm()">Reset</button>
  </div>
</form>
