<div [formGroup]="form" class="elevated-form register-form">
  <h3>Register</h3>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-icon
        matSuffix
        matTooltip="Username starts with a letter. Contains characters a-z, 0-9, dash, underscor, period. Length 5-32."
      >
        help_outline
      </mat-icon>
      <mat-error>
        {{ getUsernameError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error>
        {{ getEmailError() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Invite Code</mat-label>
      <input matInput formControlName="inviteCode" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        [errorStateMatcher]="passwordMismatchErrorStateMatcher"
      />
      <mat-error>{{
        confirmPassword?.errors?.['required']
          ? 'This field is required.'
          : 'Passwords do not match.'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button
      type="button"
      matButton="filled"
      [disabled]="form.invalid || form.pending"
      (click)="register()"
    >
      Register
    </button>
    <button type="button" matButton="text" (click)="form.reset()">Reset</button>
  </div>
</div>
