@if (twoFaToken()) {
  <app-login-two-fa [token]="twoFaToken()" [navigate]="returnUrl"></app-login-two-fa>
} @else {
  <div [formGroup]="loginForm" class="elevated-form">
    <h3>Login</h3>
    <div>
      <mat-form-field>
        <mat-label>Username or Email</mat-label>
        <input matInput formControlName="userIdentifier" type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
    </div>
    <div>
      <button type="button" matButton="filled" [disabled]="loginForm.invalid" (click)="login()">
        Login
      </button>
      <button type="button" matButton="text" routerLink="/password/reset">Forgot password</button>
    </div>
  </div>
}
