<h1>Welcome to SCS</h1>
<p *ngIf="!isLoggedIn">
    <span>Please</span>
    <button mat-button color="primary" routerLink="/register">Register</button>
    <span>or</span>
    <button mat-button color="primary" routerLink="/login">Login</button>
</p>

<div *ngIf="isLoggedIn" class="items-box">
  <ng-container *ngFor="let card of cards">
    <mat-card class="card" [routerLink]="card.link">
      <mat-card-content class="card-content">
            <span class="material-icons icon-big">
                {{card.icon}}
            </span>
        <span class="card-label">{{card.label}}</span>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
