<h1>Welcome to SCS</h1>
@if (isLoggedIn()) {
  <div class="items-box">
    @for (route of appRoutes(); track route.route) {
      <ng-container>
        <mat-card class="card" [routerLink]="route.route">
          <mat-card-content class="card-content">
            <span class="material-icons icon-big">
              {{ route.icon }}
            </span>
            <span class="card-label">{{ route.displayName }}</span>
          </mat-card-content>
        </mat-card>
      </ng-container>
    }
  </div>
} @else {
  <p class="login-text">
    <span>Please</span>
    <button mat-button color="primary" routerLink="/register">Register</button>
    <span>or</span>
    <button mat-button color="primary" routerLink="/login">Login</button>
  </p>
}
