.media__controls {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  > div {
    flex: 1;
    display: flex;
    align-items: center;
    padding-bottom: .8rem;
  }

  &-filters {
    justify-content: start;
  }

  &-tasks {
    justify-content: end;

    button {
      margin-left: .5rem;
    }
  }
}

.media__divider {
  margin-bottom: .5rem;
}

.media_upload-progress {
  margin-bottom: 1rem;
}

.media__container {
  display: flex;
  align-items: flex-start;

  > div:not(:first-child) {
    margin-left: .5rem;
  }
}

.media__column {
  flex: 1 1;
}

mat-spinner {
  margin: 1rem auto;
}

h3 {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

div.media-item__view {
  img,
  video {
    width: 100%;
    max-height: 96vh;
    vertical-align: middle;
  }
}

.control {
  position: fixed;
  padding: 0.2rem;
  font-size: 36px;
  color: white;
  opacity: 0.4;
  background-color: black;
  border-radius: 50%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  cursor: pointer;

  &--disabled {
    pointer-events: none;
    opacity: 0.1;
  }
  &--invisible {
    display: none;
  }

  &--pink {
    color: deeppink;
    opacity: 0.8;
  }

  &__close {
    left: 0;
  }

  &__favorite {
    right: 0;
  }

  &__close,
  &__favorite {
    top: 0;
    font-size: 3rem;
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__right, &__left {
    bottom: 0;
    font-size: 5rem;
  }


}


.media__dialog-content {
  > div {
    display: flex;
  }

  > div > * {
    flex-grow: 1;
  }
}
