<div class="media-item__view" *ngIf="viewMedia" (click)="hideControls = !hideControls">
    <video *ngIf="activeMediaObject?.isVideo()" autoplay [muted]="'muted'" loop controls>
        <source [src]="'/api/content/'+activeMediaObject?.id" [type]="activeMediaObject?.contentType">
    </video>
    <img *ngIf="!activeMediaObject?.isVideo()" id="image" [src]="'/api/content/'+activeMediaObject?.id" />
    <span class="material-icons control control__close" (click)="closeDialog($event)">
        close
    </span>
    <span class="material-icons control control__favorite" [ngClass]="getFavoriteControlClassList()"
        (click)="favoriteToggle($event)">
        {{ activeMediaObject?.favorite ? 'favorite' : 'favorite_border' }}
    </span>
    <span class="material-icons control control__left" [ngClass]="hideControls ? 'control--invisible' : ''"
        (click)="scrollBack($event)">navigate_before</span>
    <span class="material-icons control control__right" [ngClass]="hideControls ? 'control--invisible' : ''"
        (click)="scrollForward($event)">navigate_next</span>
</div>

<div *ngIf="mediaReady && !viewMedia; else loading">
    <div class="media__controls">
        <mat-button-toggle-group name="viewSelect" value="all" aria-label="Select View"
            (change)="sectionViewChanged($event)">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="favorite">Favorite</mat-button-toggle>
        </mat-button-toggle-group>
        <span class="spacer"></span>
        <div>
            <input type="file" #inputFiles placeholder="Choose file" (change)="uploadFiles(inputFiles)"
                style="display:none;" multiple>
            <button mat-mini-fab color="primary" aria-label="Upload" matTooltip="Upload" (click)="inputFiles.click()">
                <span class="material-icons-outlined">
                    backup
                </span>
            </button>
            <button mat-mini-fab color="primary" aria-label="Sync Folder" matTooltip="Sync Folder"
                (click)="parseFolder()">
                <span class="material-icons-outlined">
                    cloud_sync
                </span>
            </button>
        </div>
    </div>

    <div *ngIf="uploading" class="media_upload-progress">
        <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
    </div>

    <h3 *ngIf="filteredMediaObjects.length < 1">
        No content.
    </h3>

    <div class="media__container" *ngIf="mediaReady && columnView === 'one-column'">
        <div class="media__column">
            <ng-container *ngFor="let item of filteredMediaObjects">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="media__container" *ngIf="mediaReady && columnView === 'two-columns'">
        <div class="media__column">
            <ng-container *ngFor="let item of getMediaForColumn(2, 0)">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
        <div class="media__column">
            <ng-container *ngFor="let item of getMediaForColumn(2, 1)">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="media__container" *ngIf="mediaReady && columnView === 'three-columns'">
        <div class="media__column">
            <ng-container *ngFor="let item of getMediaForColumn(3, 0)">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
        <div class="media__column">
            <ng-container *ngFor="let item of getMediaForColumn(3, 1)">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
        <div class="media__column">
            <ng-container *ngFor="let item of getMediaForColumn(3, 2)">
                <div class="media-item__snapshot">
                    <img [src]="item.snapshot$ | async" (click)="openMedia(item.id)" />
                    <span *ngIf="item.isVideo()">{{toVideoTime(item.duration)}}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner *ngIf="!viewMedia"></mat-spinner>
</ng-template>