.media__controls {
    padding: 1rem 0;
    display: flex;

    button {
        margin-left: 1rem;
    }
}

.media_upload-progress {
    margin-bottom: 1rem;
}

.media__container {
    display: flex;
    align-items: flex-start;

    >div:not(:first-child) {
        margin-left: .5rem;
    }
}

.media__column {
    flex: 1 1;
}

mat-spinner {
    margin: 1rem auto;
}

h3 {
    text-align: center;
}

.spacer {
    flex: 1 1 auto;
}

div.media-item__snapshot {
    position: relative;
    margin-bottom: .5rem;
    cursor: pointer;

    img {
        width: 100%;
        vertical-align: middle;
    }

    span {
        position: absolute;
        top: 5px;
        right: 5px;
        color: deeppink;
        opacity: 0.8;
    }
}

div.media-item__view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    img,
    video {
        max-width: 96vw;
        max-height: 96vh;
        // vertical-align: middle;
    }
}

.control {
    position: fixed;
    padding: 0.2rem;
    font-size: 36px;
    color: white;
    opacity: 0.4;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: pointer;

    &--invisible {
        display: none;
    }

    &--pink {
        color: deeppink;
        opacity: 0.8;
    }

    &__close {
        top: 0;
        left: 0;
    }

    &__left {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__right {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__favorite {
        top: 0;
        right: 0;

    }
}