@if (twoFaToken()) {
  <app-login-two-fa [token]="twoFaToken()" [navigate]="returnUrl"></app-login-two-fa>
} @else {
  <form
    [formGroup]="resetPasswordForm"
    class="elevated-form reset-password-form"
    (ngSubmit)="resetPassword()"
    #formRef
  >
    <h3>Reset password</h3>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          [formControl]="emailControl"
          type="email"
          autocomplete="username"
          readonly
        />
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          [formControl]="newPasswordControl"
          type="password"
          autocomplete="new-password"
        />
        <mat-icon
          matSuffix
          [matTooltip]="strongPasswordTooltip"
          matTooltipClass="multiline-tooltip"
        >
          help_outline
        </mat-icon>
        <mat-error>{{
          newPasswordControl.errors?.['required']
            ? 'This field is required.'
            : 'Password does not meet complexity requirements.'
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Confirm new password</mat-label>
        <input
          matInput
          [formControl]="confirmNewPasswordControl"
          type="password"
          autocomplete="new-password"
          [errorStateMatcher]="parentErrorMatcher"
        />
        <mat-error>{{
          confirmNewPasswordControl.errors?.['required']
            ? 'This field is required.'
            : 'Passwords do not match.'
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <button type="submit" matButton="filled">Reset password</button>
      <button type="button" matButton="text" (click)="resetForm()">Clear</button>
    </div>
  </form>
}
