.reset-form button {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.reset-form {
  width: 500px;
  margin: auto;
  min-width: 0;
  max-width: 80vw;
  > div {
    margin-bottom: 1rem;
    display: flex;

    mat-form-field {
      flex: 1;
    }
  }
}
