@if (resetToken() && resetTokenId()) {
  @if (twoFaToken()) {
    <app-login-two-fa [token]="twoFaToken()" [navigate]="returnUrl"></app-login-two-fa>
  } @else {
    <div [formGroup]="passwordForm" class="elevated-form reset-password-form">
      <h3>Reset password</h3>
      <div>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput formControlName="newPassword" type="password" />
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            formControlName="confirmNewPassword"
            type="password"
            [errorStateMatcher]="parentErrorMatcher"
          />
          <mat-error>{{
            confirmNewPassword?.errors?.['required']
              ? 'This field is required.'
              : 'Passwords do not match.'
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <button
          type="button"
          matButton="filled"
          [disabled]="passwordForm.invalid"
          (click)="resetPassword()"
        >
          Reset password
        </button>
        <button type="button" matButton="text" (click)="passwordForm.reset()">Clear</button>
      </div>
    </div>
  }
} @else {
  <div class="elevated-form">
    <h3>Reset password</h3>
    <div [formGroup]="userIdentifierForm">
      <mat-form-field>
        <mat-label>Username or Email</mat-label>
        <input matInput formControlName="userIdentifier" type="text" />
        <mat-error>Username or Email is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        type="button"
        matButton="filled"
        color="primary"
        [disabled]="userIdentifierForm.invalid"
        (click)="getResetToken()"
      >
        Submit
      </button>
    </div>
  </div>
}
