@if (resetToken() && resetEmail()) {
  @if (twoFaToken()) {
    <app-login-two-fa [token]="twoFaToken()" [navigate]="returnUrl"></app-login-two-fa>
  } @else {
    <div [formGroup]="passwordForm" class="elevated-form reset-password-form">
      <h3>Reset password</h3>
      <div>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput [formControl]="newPasswordControl" type="password" />
          <mat-icon
            matSuffix
            [matTooltip]="strongPasswordTooltip"
            matTooltipClass="multiline-tooltip"
          >
            help_outline
          </mat-icon>
          <mat-error>{{
            newPasswordControl.errors?.['required']
              ? 'This field is required.'
              : 'Password does not meet complexity requirements.'
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            [formControl]="confirmNewPasswordControl"
            type="password"
            [errorStateMatcher]="parentErrorMatcher"
          />
          <mat-error>{{
            confirmNewPasswordControl.errors?.['required']
              ? 'This field is required.'
              : 'Passwords do not match.'
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <button type="button" matButton="filled" (click)="resetPassword()">Reset password</button>
        <button type="button" matButton="text" (click)="passwordForm.reset()">Clear</button>
      </div>
    </div>
  }
} @else {
  <div class="elevated-form">
    <h3>Reset password</h3>
    <div [formGroup]="emailForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error>Email is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        type="button"
        matButton="filled"
        color="primary"
        [disabled]="emailForm.invalid"
        (click)="getResetToken()"
      >
        Submit
      </button>
    </div>
  </div>
}
