<div class="elevated-form">
  <h3>Forgot password</h3>
  <div [formGroup]="emailForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" autocomplete="username" />
      <mat-error>Email is required.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button
      type="button"
      matButton="filled"
      color="primary"
      [disabled]="emailForm.invalid"
      (click)="getResetToken()"
    >
      Submit
    </button>
  </div>
</div>
