@if (pageIsReady()) {
  <ng-container>
    <toolbar [selectedCount]="selectedItems().length" (action)="onToolbarEvent($event)"></toolbar>
    @if (progressBar) {
      <mat-progress-bar mode="determinate" [value]="progressBar"></mat-progress-bar>
    }
    <path-bar [path]="path()" (open)="openFolder($event)"></path-bar>
    <div>
      @if (currentNode().id) {
        <fso
          [text]="'..'"
          (click)="onFsoTouch($event, currentNode().parentId)"
          (dblclick)="openFolder(currentNode().parentId)"
        >
        </fso>
      }
      @for (fso of currentNodeContent(); track fso.id) {
        <fso [fso]="fso" (click)="onFsoTouch($event, fso.id)" (dblclick)="openFolder(fso.id)">
        </fso>
      }
      @if (currentNodeContent().length === 0) {
        <p>Folder is empty</p>
      }
    </div>
  </ng-container>
} @else {
  <ng-container>
    <mat-spinner></mat-spinner>
  </ng-container>
}

<input
  type="file"
  #inputFiles
  (change)="uploadFile(inputFiles.files)"
  style="display: none"
  multiple
/>

<ng-template #newFolderDialog>
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>New Folder</h1>
  <div mat-dialog-content>
    <p>Input the name</p>
    <div class="dialog-inputs">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [formControl]="newFolderControl"
          [errorStateMatcher]="showOnDirtyErrorStateMatcher"
        />
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      matButton="filled"
      [mat-dialog-close]="true"
      [disabled]="newFolderControl.invalid || newFolderControl.pending"
    >
      Ok
    </button>
    <button type="button" matButton="outlined" [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>

<ng-template #deleteConfirmDialog>
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    Delete Confirmation
  </h1>
  <div mat-dialog-content>
    <p>Are you sure want to delete {{ selectedItems().length }} item(s) ?</p>
  </div>
  <div mat-dialog-actions>
    <button type="button" matButton="filled" [mat-dialog-close]="true">Ok</button>
    <button type="button" matButton="outlined" [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>

<ng-template #renameDialog>
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Rename</h1>
  <div mat-dialog-content>
    <p></p>
    <div class="dialog-inputs">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="renameControl" />
        <mat-error>Name is required.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      matButton="filled"
      [mat-dialog-close]="true"
      [disabled]="renameControl.invalid || renameControl.pending"
    >
      Ok
    </button>
    <button type="button" matButton="outlined" [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>
