@use '@angular/material' as mat;

.storage-info__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storage-info__progress-bar {
  @include mat.progress-bar-overrides(
    (
      active-indicator-height: 16px,
      track-height: 20px,
    )
  );
  &--red {
    --mat-progress-bar-active-indicator-color: var(--mat-sys-error);
  }
}

section {
  margin-bottom: 2rem;
}
