.security-otp-container {
  margin-bottom: 2rem;
  p {
    text-align: center;
  }
}

.security__auth-link {
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  button,
  a {
    margin-bottom: 0.5rem;
  }
}

.security__qr-code {
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.security__progress-bar {
  margin-top: 0.5rem;
}
