<div class="app-container">
  <mat-toolbar class="app-nav mat-elevation-z6">
    <mat-toolbar-row>
      <div class="container">
        <button matIconButton routerLink="/">
          <span class="material-icons"> home </span>
        </button>
        @if (isLargeDevice()) {
          <div>
            @for (route of routes; track route.route) {
              <button matButton [routerLink]="route.route" routerLinkActive="selected">
                {{ route.displayName }}
              </button>
            }
          </div>
        }
        <span class="spacer"></span>
        <button matIconButton (click)="toggleTheme()" matTooltip="Theme">
          <span class="material-icons">
            {{ themeIcon() }}
          </span>
        </button>
        <button matIconButton [matMenuTriggerFor]="paletteMenu" matTooltip="Palette">
          <span class="material-icons"> palette </span>
        </button>
        <button matButton="text" [matMenuTriggerFor]="userMenu" matTooltip="User menu">
          <span class="material-icons"> person </span>
          @if (isLoggedIn()) {
            <span
              >&nbsp;<strong>{{ getUser() }}</strong></span
            >
          }
        </button>
      </div>
    </mat-toolbar-row>
    @if (!isLargeDevice()) {
      <mat-toolbar-row class="toolbar-small">
        <div class="container">
          @for (route of routes; track route.route) {
            <button matButton="text" [routerLink]="route.route" routerLinkActive="selected">
              {{ route.displayName }}
            </button>
          }
        </div>
      </mat-toolbar-row>
    }
  </mat-toolbar>
  <div class="app-intersection-observer" #intersectionElement></div>
  <div class="app-content container">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="app-footer">
    <div class="container">&copy; {{ year }} - Sergiu Grigoras</div>
  </mat-toolbar>
  <div class="back-top">
    <button matMiniFab (click)="scrollTop()">
      <span class="material-icons"> arrow_upward </span>
    </button>
  </div>
</div>

<mat-menu #userMenu="matMenu">
  @if (isLoggedIn()) {
    <div>
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </div>
  } @else {
    <div>
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/register">Register</button>
    </div>
  }
</mat-menu>

<mat-menu #paletteMenu>
  <div>
    @for (palette of palettes; track $index) {
      <button mat-menu-item (click)="changePalette(palette.name)">
        <span class="palette-menu-item-text">
          <span>{{ palette.name }}</span>
          <span
            class="palette-color"
            [style.--color1]="palette.lightColor"
            [style.--color2]="palette.darkColor"
          ></span>
        </span>
      </button>
    }
  </div>
</mat-menu>
