@use '@angular/material' as mat;

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-primary),
    )
  );

  @include mat.fab-overrides(
    (
      small-container-shape: var(--mat-sys-corner-full),
    )
  );
}

.app-nav {
  z-index: 100;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
}

.app-content {
  flex: 1;
}

.app-footer {
  z-index: 100;
}

.spacer {
  flex: 1 1 auto;
}

.app-intersection-observer {
  width: 100%;
}

.back-top {
  position: fixed;
  bottom: 110px;
  right: 2rem;
  z-index: 100;
  opacity: 0.6;
  transition: opacity 600ms 0ms;
}

.invisible {
  opacity: 0;
  transition: opacity 400ms 0ms;
}

.palette-menu-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.palette-color {
  display: flex;
  border-radius: var(--mat-sys-corner-full);
  //border: solid 1px grey;
  box-shadow: var(--mat-sys-level1);
  width: 24px;
  height: 24px;
  background: linear-gradient(135deg, var(--color1) 50%, var(--color2) 50%);
}
