<div class="media-item__snapshot">
    <img *ngIf="mediaObject?.snapshotUrl" [src]="mediaObject.snapshotUrl" (click)="openMedia(mediaObject.id)" />
</div>

<ng-template #mediaViewDialog>
    <div class="media-item__view" (mouseover)="showControls($event)">

    </div>
    <div class="media-item__view" (mouseover)="showControls($event)" (mouseout)="hideControls($event)">
        <video *ngIf="isVideo" autoplay [muted]="'muted'" loop controls (click)="videoControl(myVideo)" #myVideo>
            <source [src]="contentUrl" [type]="mediaObject?.contentType">
        </video>
        <img *ngIf="!isVideo" id="image" [src]="contentUrl" />
        <span class="material-icons dialog-controls" [ngClass]="invisibleControls ? 'dialog-controls--invisible' : ''"
            (click)="closeDialog()">
            close
        </span>
    </div>
</ng-template>