div.media-item__snapshot {
    position: relative;
    margin-bottom: .5rem;
    cursor: pointer;

    img {
        width: 100%;
        vertical-align: middle;
    }

    span {
        position: absolute;
        top: 5px;
        right: 5px;
        color: deeppink;
        opacity: 0.8;
    }
}

div.media-item__view {

    img,
    video {
        width: 100%;
        max-height: 96vh;
        vertical-align: middle;
    }
}

div.visible-controls {
    width: 250px;
}

.control {
    position: fixed;
    padding: 0.2rem;
    cursor: pointer;
    font-size: 36px;
    color: white;
    opacity: 0.4;

    &__close {
        top: 0;
        left: 0;
    }

    &__favorite {
        top: 0;
        right: 0;

        &--pink {
            color: deeppink;
            opacity: 0.8;
        }
    }
}