<div class="media-item__snapshot">
    <img *ngIf="mediaObject?.snapshotUrl" [src]="mediaObject.snapshotUrl" (click)="openMedia(mediaObject.id)" />
</div>

<ng-template #mediaViewDialog>
    <div *ngIf="!isVideo" class="media-item__view">
        <img id="myimage" [src]='imageUrl' />
    </div>
    <div *ngIf="isVideo" class="media-item__view">
        <video autoplay [muted]="'muted'" loop controls (click)="videoControl(myVideo)" #myVideo>
            <source [src]="'/api/content/video/' + mediaObject?.id" [type]="mediaObject?.contentType">
        </video>
    </div>
</ng-template>