<div class="media-item__snapshot">
    <img *ngIf="mediaObject?.snapshotUrl" [src]="mediaObject.snapshotUrl" (click)="openMedia(mediaObject.id)" />
    <span *ngIf="mediaObject?.favorite" class="material-icons">favorite</span>
</div>

<ng-template #mediaViewDialog>
    <div class="media-item__view">
        <video *ngIf="isVideo" autoplay [muted]="'muted'" loop controls (click)="videoControl(myVideo, $event)"
            #myVideo>
            <source [src]="contentUrl" [type]="mediaObject?.contentType">
        </video>
        <img *ngIf="!isVideo" id="image" [src]="contentUrl" />
        <span class="material-icons control control__close" (click)=" closeDialog()">
            close
        </span>
        <span class="material-icons control control__favorite"
            [ngClass]="mediaObject?.favorite ? 'control__favorite--pink': ''" (click)="favoriteToggle()">
            {{ mediaObject?.favorite ? 'favorite' : 'favorite_border' }}
        </span>
    </div>
</ng-template>